page-home {

    .loading {
        width: 64px;
        height: 64px;
        src: url("../../assets/img/bird.png")
    }

    .botao-menu {
        background-color: transparent;
        width: 80px;
        height: 80px;
        margin-top: -15px;
        margin-left: -325px;
    }

    .barra-piu {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .piu-form {
        margin-left: 60px;
    }

    .piu-input {
        border: 1px solid #E6ECF0;
        border-radius: 10px;
        padding-left: 5px;
        padding-top: 5px;
        margin-right: 10px;
        margin-left: 9px;
    }

    .contador-digitos {
        color: #1da1f2;
        font-weight: bold;
        margin-left: 15px;
    }

    .max-digitos {
        font-weight: bold;
        color: #657786
    }

    .heart-btn,
    .share-btn {
        color: #1da1f2;
    }
    
    .nota {
        position: absolute;
        bottom: 15px;
        right: 20px;
    }


    .erro {
        color: red;
    }


    .erro-contador {
        color: red;
        font-weight: bold;
        margin-left: 15px;
    }

    .favoritado {
        color: #1da1f2;
    }

    .favoritado-msg {
        font-weight: bold;
    }

    ion-spinner * {
        width: 28px;
        height: 28px;
        stroke: #1da1f2;
        fill: #1da1f2;
    }
}
